{% extends "base.html" %}
{% load static %}

{% block links_block %}
    <link rel="stylesheet" href={% static "student/style.css" %}>
{% endblock links_block %}

{% block title_block %} {{student.name}} Details {% endblock title_block %}

{% block body_block %}
    {% include "student/partials/header.html" %}
    <h1> {{student.name}} </h1>
    <h2> Student ID: {{student.student_id}} </h2>
    <h3> Email: {{student.email}} </h3>
    <ul>
        {% for enrollment in student.enrollment_set.all %}
            <li> {{enrollment.course.title}} </li>
        {% endfor %}
    </ul>
{% endblock body_block %}
