{% extends "base.html" %}
{% load static %}

{% block links_block %}
    <link rel="stylesheet" href={% static "student/style.css" %}>
{% endblock links_block %}
{% block title_block %} Student Signup {% endblock title_block %}

{% block body_block %}
{% include "student/partials/header.html" %}
<h1> Register </h1>
<form action="{% url 'student:sign_up' %}" method="post">
    {% csrf_token %}
    {% if register_message %}<p style="color: red"><strong>{{ register_message }}</strong></p>{% endif %}
    <label for="fname">First name: </label>
    <input type="text" value="" name="fname"> <br/><br/>
    <label for="lname">Last Name: </label>
    <input type="text" value="" name="lname"> <br/><br/>
    <label for="email">Email: </label>
    <input type="email" value="" name="email"> <br/><br/>
    <label for="username">Username: </label>
    <input type="text" value="" name="username"> <br/><br/>
    <label for="password">Password: </label>
    <input type="password" value="" name="password"> <br/><br/>
    <input type="submit" value="Register" id="register">
</form>

<a href="{% url 'student:login' %}"> Login </a>
{% endblock body_block %}
