{% extends "base.html" %}
{% load static %}

{% block links_block %}
    <link rel="stylesheet" href={% static "student/style.css" %}>
{% endblock links_block %}
{% block title_block %} Student login {% endblock title_block %}

{% block body_block %}
{% include "student/partials/header.html" %}
<h1> Login </h1>
<form action="{% url 'student:login' %}" method="post">
    {% csrf_token %}
    {% if login_message %}<p style="color: red"><strong>{{ login_message }}</strong></p>{% endif %}
    <label for="username">Username: </label>
    <input type="text" value="" name="username"> <br/><br/>
    <label for="email">Password: </label>
    <input type="password" value="" name="password"> <br/><br/>
    <input type="submit" value="Login" id="login">
</form>

<a href="{% url 'student:sign_up' %}"> Sign up </a>
{% endblock body_block %}
