{% extends "base.html" %}
{% load static %}

{% block links_block %}
    <link rel="stylesheet" href={% static "student/style.css" %}>
{% endblock links_block %}
{% block title_block %} Students list {% endblock title_block %}

{% block body_block %}
{% include "student/partials/header.html" %}
    <main>
        <ul>
        {% for object in page_obj %}
            <li class="{% cycle 'one' 'two' 'three' 'four' %}">
                <a href={% url "student:detail" object.id %}>
                    {{ object.name|title }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% comment %} {% for key, value in session.items %}
            {{key}}: {{value}} <br/>
        {% endfor %} {% endcomment %}
    </main>

    <footer>
        <nav>
            <p>@Copyright KS.tech</p>
        </nav>
    </footer>
{% endblock body_block %}