{% extends "base.html" %}
{% load static %}

{% block links_block %}
    <link rel="stylesheet" href={% static "student/style.css" %}>
{% endblock links_block %}
{% block title_block %} Students list {% endblock title_block %}

{% block body_block %}
{% include "student/partials/header.html" %}
    <main>
        <ul>
        {% for object in object_list %}
            <li class="{% cycle 'one' 'two' 'three' 'four' %}">
                <a href={% url "student:detail" object.id %}>
                    {{ object.name|title }}
                </a>
            </li>
        {% endfor %}
        </ul>
        {% for key, value in session.items %}
            {{key}}: {{value}} <br/>
        {% endfor %}
    </main>

    <footer>
        <nav>
            <p>@Copyright KS.tech</p>
        </nav>
    </footer>
{% endblock body_block %}